.nfs0000000419983e4f000301ff
.directory
.nfs0000*
Chapters/.nfs0000*
Examples/
Guidlines.pdf
classicthesis-config.log
classicthesis-config.tex
classicthesis-config.tex.bak
classicthesis.sty
classicthesis.sty.bak
main-blx.bib
main.aux
main.bbl
main.blg
main.lof
main.log
main.lol
main.lot
main.out
main.run.xml
main.synctex.gz
main.tex.bak
main.toc
writing_mathematics_manual.pdf
